* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 0;
  background: black;
  box-shadow: 1px 17px 35px 4px rgb(0 0 0 / 87%);
  -webkit-box-shadow: 1px 17px 35px 4px rgb(0 0 0 / 87%);
  -moz-box-shadow: 1px 17px 35px 4px rgba(0, 0, 0, 0.87);
  filter: opacity(75%);
  -webkit-filter: opacity(75%);
  -moz-filter: opacity(75%);
  backdrop-filter: blur(60px);
  z-index: 15;
  position: fixed;
}

#title-text {
  font-size: 7vh;
  color: white;
  position: absolute;
  z-index: 3;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  /* backdrop-filter: blur(20px); */
  /* backdrop-filter: grayscale(100); */
}

.tab-border {
  height: 390px;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 210px;
  background: rgba(20, 0, 255, 0.96);
  background: linear-gradient(
    124deg,
    rgba(20, 0, 255, 0.96) 10%,
    #fff400 50%,
    #ff0000 100%
  );
  background: -webkit-linear-gradient(
    124deg,
    rgba(20, 0, 255, 0.96) 10%,
    #fff400 50%,
    #ff0000 100%
  );
  background: -moz-linear-gradient(
    124deg,
    rgba(20, 0, 255, 0.96) 10%,
    #fff400 50%,
    #ff0000 100%
  );
  z-index: 7;
  border-radius: 8px 50px 49px 6px;
  -webkit-border-radius: 8px 50px 49px 6px;
  -moz-border-radius: 8px 50px 49px 6px;
  filter: opacity(65%);
  -webkit-filter: opacity(65%);
  -moz-filter: opacity(65%);
  backdrop-filter: blur(60px);
  box-shadow: 1px 17px 35px 4px rgb(0 0 0 / 87%);
  -webkit-box-shadow: 1px 17px 35px 4px rgb(0 0 0 / 87%);
  -moz-box-shadow: 1px 17px 35px 4px rgba(0, 0, 0, 0.87);
  object-fit: contain;
}

.tab {
  margin-left: 1.8%;
  flex-direction: row-reverse;
  display: flex;
  width: 25em;
  height: 340px;
  box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  background: rgb(48, 48, 48);
  filter: opacity(82%);
  -webkit-filter: opacity(82%);
  -moz-filter: opacity(82%);
  backdrop-filter: blur(5px);
  z-index: 8;
}

#weather-day {
  font-size: 3rem;
}

#weather {
  margin-left: 5%;
  color: white;
  width: 75%;
  /* position: absolute; */
  z-index: 9;
}

#weather-icon {
  z-index: 11;
  width: 120px;
  height: 120px;
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
  -moz-filter: opacity(100%);
  /* position: absolute; */
}

.tab:hover {
  background: rgb(99, 99, 99);
  filter: opacity(82%);
  -webkit-filter: opacity(82%);
  -moz-filter: opacity(82%);
  backdrop-filter: blur(82px);
  backdrop-filter: blur(5px);
}

.container-react-scroll {
  /* position: absolute; */
  margin-top: 100px;
  width: 100%;
  height: 357px;
  z-index: 19;
  transition: transform 2s;
  /* transform: translateY(20%) */
}

#search-bar {
  z-index: 12;
  font-size: 3em;
  /* position: absolute; */
  top: 17%;
  left: 30%;
  height: 10%;
  width: 35%;
  background-color: black;
  color: white;
  filter: opacity(72%);
  -webkit-filter: opacity(72%);
  -moz-filter: opacity(72%);
  backdrop-filter: blur(72px);
  box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
}

#search-bar:hover {
  -webkit-filter: opacity(72%) invert(25%);
  -moz-filter: opacity(72%) invert(25%);
  filter: opacity(72%) invert(25%);
}

#mag-glass-icon {
  /* position: absolute; */
  max-width: 7%;
  height: 10.5%;
  z-index: 13;
  top: 17%;
  left: 66%;
  filter: opacity(82%);
  -webkit-filter: opacity(82%);
  -moz-filter: opacity(82%);
  backdrop-filter: blur(82px);
  box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
}

#mag-glass-icon:hover {
  -webkit-filter: opacity(70%) invert(25%);
  -moz-filter: opacity(70%) invert(25%);
  filter: opacity(70%) invert(25%);
  cursor: pointer;
}

#hamburger {
  max-width: 13%;
  margin-left: 5%;
  vertical-align: "middle";
}

#weather-title {
  vertical-align: "middle";
}

.hover:hover {
  -webkit-filter: opacity(70%) invert(25%);
  -moz-filter: opacity(70%) invert(25%);
  filter: opacity(70%) invert(25%);
  cursor: pointer;
}

#event-tab {
  background: rgb(48, 48, 48);
  width: 80%;
  height: 600px;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 10%;
  /* position: absolute; */
  filter: opacity(82%);
  -webkit-filter: opacity(82%);
  -moz-filter: opacity(82%);
  backdrop-filter: blur(5px);
  box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -10px 10px 9px 0px rgba(0, 0, 0, 0.52);
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  z-index: 14;
}

#event-title {
  color: white;
  text-align: center;
  font-size: 3rem;
  z-index: 15;
}

.events-type {
  font-size: 1.3rem;
  color: white;
  display: inline-block;
  margin-left: 20%;
  margin-top: 3%;
}

.each-event {
  margin-right: 10%;
}

#events-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  height: 470px;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  background: rgba(66, 66, 66, 0.8);
  /* filter: opacity(82%); */
  /* -webkit-filter: opacity(82%); */
  /* -moz-filter: opacity(82%); */
  backdrop-filter: blur(5px);
}

.event {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

#events-wrapper div:nth-child(odd) {
  background: rgba(102, 102, 102, 0.8);
}

.event-content {

}

a:link {
  color: lightblue;
}
